body {
    display: grid;
    grid-template-rows: 1fr auto; /* 1fr for content to take available space, auto for footer size */
    min-height: 100vh; /* Full height of the viewport */
    margin: 0;
    padding: 0;
    background-color: #9bb8a1;
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-vector/watercolor-floral-background_52683-36172.jpg?w=1800&t=st=1707271807~exp=1707272407~hmac=7f3f4b2270bec514b6ec30dc51298f33ef28ad69a64f426cecb7ece86d0cdbf9'), url('https://img.freepik.com/free-vector/watercolor-floral-background_52683-36172.jpg?w=1800&t=st=1707271807~exp=1707272407~hmac=7f3f4b2270bec514b6ec30dc51298f33ef28ad69a64f426cecb7ece86d0cdbf9');
    background-repeat: repeat-y, repeat-y;
    background-size: 150px auto, 150px auto; /* Adjust the size as needed */
    background-color: #9bb8a1; /* Light green background color */
    background-position: left, right;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #c2dbad;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #70a370; /* Dark green footer background color */
    color: #fff; /* White text color */
    /* Removed the position: fixed; to ensure it's at the bottom of the content */
    width: 100%;
    /* Adjusted z-index to be higher if you want it to be above other elements */
    z-index: -2; 
}

.show {
    opacity: 1; /* Show footer */
}

.footer a {
    color: #fff; /* White link color */
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}
.button {
    display: inline-flex; /* Use flexbox to align items */
    align-items: center; /* Align items vertically */
    padding: 10px 15px;
    border: 2px solid #70a370; /* Dark green border */
    border-radius: 20px; /* Rounded corners */
    text-decoration: none;
    color: #333; /* Text color */
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #70a370; /* Dark green background on hover */
    color: #fff; /* White text color on hover */
}

.button img {
    width: 50px; /* Adjust image size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add space between image and text */
}
img {
    max-width: 80%;
    height: auto;
}

#floating-button {
    position: fixed;
    top: 10px; /* Distance from the top of the viewport */
    right: 10px; /* Distance from the right of the viewport */
    display: flex;
    align-items: center;
    background-color: #f04; /* Button background color */
    color: #fff; /* Text color */
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

#floating-button img {
    margin-right: 5px;
    width: 20px; /* Adjust image size as needed */
    height: auto;
}
